In [1]:
import pandas as pd
import numpy as np
import re
import warnings
warnings.filterwarnings("ignore")

In [5]:
cn = pd.read_csv('course_name.csv')
cn.head()

                                         description
0                 {"raw":"na","transaction_type":[]}
1  {"raw":"na","transaction_type":[{"CASHBACK":52...
2  {"raw":"500 referral point  is used out of 500...
3  {"raw":"500 referral point  is used out of 500...
4  {"raw":"500 referral point  is used out of 500...

In [12]:
cn['description'] = cn['description'].astype(str)

In [9]:
mystring = cn[['description']]
mystring

                                            description
0                    {"raw":"na","transaction_type":[]}
1     {"raw":"na","transaction_type":[{"CASHBACK":52...
2     {"raw":"500 referral point  is used out of 500...
3     {"raw":"500 referral point  is used out of 500...
4     {"raw":"500 referral point  is used out of 500...
...                                                 ...
2511  {"raw":"2000 referral point  is used out of 20...
2512  {"raw":"2700 referral point  is used out of 60...
2513  {"raw":"2000 referral point  is used out of 20...
2514  {"raw":"3300 referral point  is used out of 60...
2515  {"raw":"-","transaction_type":[{"BONUS":2000},...

[2516 rows x 1 columns]

In [14]:
keyword = 'course_name'
before_keyword, keyword, after_keyword = cn['description'].partition(keyword)
before_keyword

AttributeError: 'Series' object has no attribute 'partition'

In [15]:
df=cn.assign(WordsBefore=cn.description.str.extract('(^\D+(?="course_name":"))'),
WordsAfter=cn.description.str.extract('((?<="course_name":")\D+)'))
print(df)

                                            description WordsBefore  \
0                    {"raw":"na","transaction_type":[]}         NaN
1     {"raw":"na","transaction_type":[{"CASHBACK":52...         NaN
2     {"raw":"500 referral point  is used out of 500...         NaN
3     {"raw":"500 referral point  is used out of 500...         NaN
4     {"raw":"500 referral point  is used out of 500...         NaN
...                                                 ...         ...
2511  {"raw":"2000 referral point  is used out of 20...         NaN
2512  {"raw":"2700 referral point  is used out of 60...         NaN
2513  {"raw":"2000 referral point  is used out of 20...         NaN
2514  {"raw":"3300 referral point  is used out of 60...         NaN
2515  {"raw":"-","transaction_type":[{"BONUS":2000},...         NaN

                                             WordsAfter
0                                                   NaN
1                                                   NaN
2     ":"Microsoft Power BI Certification Training C...
3     ":"Selenium Certification Training Course","tr...
4     ":"Tableau Certification Training Course","tra...
...                                                 ...
2511        ":"Certified Ethical Hacking Course - CEH v
2512  ":"Angular Certification Training Course","tra...
2513  ":"Azure Data Engineer Associate Certification...
2514  ":"DevOps Certification Training Course","tran...
2515                                                NaN

[2516 rows x 3 columns]

In [18]:
df.to_csv('c_name_new.csv')

In [22]:
df2=cn.assign(WordsBefore=cn.description.str.extract('(^\D+(?="course_name":"))'),
WordsAfter=cn.description.str.extract('((?<="course_name":")\D+)'))
print(df2)

                                            description WordsBefore  \
0                    {"raw":"na","transaction_type":[]}         NaN
1     {"raw":"na","transaction_type":[{"CASHBACK":52...         NaN
2     {"raw":"500 referral point  is used out of 500...         NaN
3     {"raw":"500 referral point  is used out of 500...         NaN
4     {"raw":"500 referral point  is used out of 500...         NaN
...                                                 ...         ...
2511  {"raw":"2000 referral point  is used out of 20...         NaN
2512  {"raw":"2700 referral point  is used out of 60...         NaN
2513  {"raw":"2000 referral point  is used out of 20...         NaN
2514  {"raw":"3300 referral point  is used out of 60...         NaN
2515  {"raw":"-","transaction_type":[{"BONUS":2000},...         NaN

                                             WordsAfter
0                                                   NaN
1                                                   NaN
2     Microsoft Power BI Certification Training Cour...
3     Selenium Certification Training Course","trans...
4     Tableau Certification Training Course","transa...
...                                                 ...
2511           Certified Ethical Hacking Course - CEH v
2512  Angular Certification Training Course","transa...
2513  Azure Data Engineer Associate Certification Co...
2514  DevOps Certification Training Course","transac...
2515                                                NaN

[2516 rows x 3 columns]

In [23]:
df2.to_csv('c_name_new2.csv')

In [34]:
df3=cn.assign(WordsBefore=cn.description.str.extract('(^\D+(?=course_name))'),
WordsAfter=cn.description.str.extract('((?<="course_name)\D+.*)'))
print(df3)

                                            description WordsBefore  \
0                    {"raw":"na","transaction_type":[]}         NaN
1     {"raw":"na","transaction_type":[{"CASHBACK":52...         NaN
2     {"raw":"500 referral point  is used out of 500...         NaN
3     {"raw":"500 referral point  is used out of 500...         NaN
4     {"raw":"500 referral point  is used out of 500...         NaN
...                                                 ...         ...
2511  {"raw":"2000 referral point  is used out of 20...         NaN
2512  {"raw":"2700 referral point  is used out of 60...         NaN
2513  {"raw":"2000 referral point  is used out of 20...         NaN
2514  {"raw":"3300 referral point  is used out of 60...         NaN
2515  {"raw":"-","transaction_type":[{"BONUS":2000},...         NaN

                                             WordsAfter
0                                                   NaN
1                                                   NaN
2     ":"Microsoft Power BI Certification Training C...
3     ":"Selenium Certification Training Course","tr...
4     ":"Tableau Certification Training Course","tra...
...                                                 ...
2511  ":"Certified Ethical Hacking Course - CEH v12"...
2512  ":"Angular Certification Training Course","tra...
2513  ":"Azure Data Engineer Associate Certification...
2514  ":"DevOps Certification Training Course","tran...
2515                                                NaN

[2516 rows x 3 columns]

In [35]:
df3.to_csv('c_name_new3.csv')